@using BDA.Domain;
@model BDA.Domain.Deposit

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Вклад</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountReplenishment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountReplenishment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositTerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositTerm.Id)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole(EmployeePosition.Admin.ToString()))
    {
        <p>
            <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a>
        </p>
    }
    <a asp-action="Index">Вернуться к списку</a>
</div>
