@model BDA.Domain.Employee

@{
    ViewData["Title"] = "Подробности";
}

<h1>Информация о сотруднике</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.CitizenshipId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.CitizenshipId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.IdentificationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.IdentificationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.IssueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.IssueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.ExpirationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.ExpirationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.CitizenshipName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.CitizenshipName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PositionName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.House)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.House)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Housing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Housing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Apartment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Apartment)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Street.StreetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Street.StreetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Street.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Street.Postcode)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Street.Locality.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Street.Locality.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Street.Locality.LocalityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Street.Locality.LocalityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Street.Locality.LocalityTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Street.Locality.LocalityTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditDetails" asp-controller="Account">Изменить</a>
</div>
