@using BDA.Domain;
@model BDA.Domain.Depositor

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Клиент</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Street.Locality.LocalityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Street.Locality.LocalityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Street.StreetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Street.StreetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Street.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Street.Postcode)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.House)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.House)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Housing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Housing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Apartment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Apartment)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport.BirthDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber.Operator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber.Operator.Operator)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber.OperatorCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber.OperatorCode)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber.Number)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole(EmployeePosition.Manager.ToString()))
    {
    <p>
        <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a>
    </p>
    }
    <a asp-action="Index">Вернуться к списку</a>
</div>
