@model IEnumerable<BDA.Domain.Locality>

@{
    ViewData["Title"] = "Список";
}

<h1>Населённые пункт</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<p>
    <a asp-action="Index" asp-controller="IssuingAuthorityLocalities">Прикрепить выдающие органы к населённым пунктам</a>
</p>
<p>
    <a asp-action="Index" asp-controller="Streets">Прикрепить улицы к населённым пунктам</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalityTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalityType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
